{# index.html #}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Task Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.css') }}"/>
</head>
<body>

{% include 'header.html' %}

<div class="container my-5">

    <h1 class="text-center mb-4">Task Tracker</h1>

    <div class="d-flex justify-content-end mb-3">
        <button hx-get="/tasks/new?modal_title=Add+New+Task"
                hx-target="#modals"
                hx-trigger="click"
                data-bs-toggle="modal"
                data-bs-target="#modals"
                class="btn btn-outline-primary">
            {% if collection == "tasks" %}
                Add New Task
            {% else %}
                Add New Project
            {% endif %}
        </button>
    </div>

    <div id="modals" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content"></div>
        </div>
    </div>

    <div id="tasks" class="mt-4">
        {% include 'tasks/list.html' %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/theme.js') }}"></script>
</body>
</html>
