{# navbar.html #}

<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Task Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item d-flex">
                <form class="d-flex" hx-get="/search" hx-target="#main-content" hx-swap="outerHTML">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </li>
        </ul>
        <div class="d-flex">
            {% if session['user_id'] %}
                <button
                        class="btn btn-outline-success me-2"
                        type="button"
                        hx-get="{{ url_for('user.logout', user_id=session['user_id']) }}"
                        hx-target="#navbar"
                        hx-swap="outerHTML">
                    Logout, {{ session['username'] }}
                </button>
            {% else %}
                <button
                        hx-get="/users/login?modal_title=Login"
                        hx-target="#modals"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals"
                        class="btn btn-primary">
                    Login
                </button>
                <button hx-get="/users/new?modal_title=Sign+Up"
                        hx-target="#modals"
                        hx-trigger="click"
                        data-bs-toggle="modal"
                        data-bs-target="#modals"
                        class="btn btn-outline-primary">
                    Sign Up
                </button>
            {% endif %}
            <button
                    class="btn btn-secondary ms-2"
                    type="button"
                    id="toggleTheme">
                Toggle Theme
            </button>
        </div>
    </div>
</nav>
<div id="nav-content"></div>